@import "tailwindcss";


:root {
    --background : #ffffff;
    --foreground : #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@theme {
    --animate-marquee: marquee 10s linear infinite;

    @keyframes marquee {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-100%);
        }
    }
}



