@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.layout {
  height: 100vh;
  background-image: linear-gradient(to bottom, white, #a5f3fc, white);
}

.navbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
}

.logo{
  font-size: 24px;
  font-weight: 800;
}

.links {
  display: flex;
  gap: 16px;
}
.link-items {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #71717a;
}

.link-items:hover {
  color: black;
  transition: color 0.3s ease-in-out;
}

.btn {
  font-size: 8px;
  all: unset;
  padding: 4px 8px;
  border-radius: 8px;
  color: #FFF;
  background-color: #06b6d4;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-root{
  padding: 60px 0px;
}

.badge {
  font-size: 10px;
  border-radius: 50px;
  background-color: #d1d5db;
  padding: 4px 8px;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid #FFFF;
}

.hero-title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.4px;
  line-height: 1.1;
  margin-top: 20px;
}

.hero-subtitle {
  font-size: 20px;
  color: #9ca3af ;
  text-align: center;
  margin-top: 20px;
}

.hero-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 30px;
}

.btn-secondery{
  background: #cbd5e1;
  border:#71717a;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 6px 5px 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.left-line {
  height: 100%;
  width: 0.5px;
  background: linear-gradient(to bottom, #e2e8f0, #f5f5f5);
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
}

.hero-img-comtainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  height: 400px;
  width: 680px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  /* Add these lines for the fade effect */
  mask: linear-gradient(to bottom, black 10%, transparent 100%);
  -webkit-mask: linear-gradient(to bottom, black 10%, transparent 100%);
}

